.menu{
	background-color: rgb(239, 221, 230);
	max-height: 1em;
	width: 280px;
	overflow: hidden;
	font-family: sans-serif;
	color: #AA3C44;
	padding: 15px;
	border-radius: 10px;
	margin-bottom: 15px;
	font-weight: bold;
	transition: max-height 1s;
	float: left;
	margin-right: 15px;
}

.menu:hover{
	max-height: 700px;
}

a{
	text-decoration: none;
	color: #AA3C44;
	font-weight: normal;
	font-style: italic;
}

ul{
	list-style-type: none;
}

li{
	margin-bottom: 5px;
}