@font-face {
    font-family: 'Kingthings';
    src: url('../fonts/Kingthings_Calligraphica_2-webfont.eot');
    src: url('../fonts/Kingthings_Calligraphica_2-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/Kingthings_Calligraphica_2-webfont.woff') format('woff'),
         url('../fonts/Kingthings_Calligraphica_2-webfont.ttf') format('truetype'),
         url('../fonts/Kingthings_Calligraphica_2-webfont.svg#kingthings_calligraphica_2Rg') format('svg');
    font-weight: normal;
    font-style: normal;

}

body{
	font-family: sans-serif;
	background-image: url('../images/sky.png');
	background-attachment: fixed;
	background-size: cover;
}

h1{
	font-size: 450%;
	color: white;
    text-shadow:
	    -1px -1px 0 #420246,
	    1px -1px 0 #420246,
	    -1px 3px 0 #420246,
	    3px 1px 0 #420246; 
	text-align: center;
	font-family: 'Kingthings', sans-serif;
	letter-spacing: 0.03em;
	word-spacing: 0.15em;
	margin-bottom: 0.2em;
	margin-top: 0.3em;
}

h2{
	color: #923460;
}

em{
	color: #AA3C44;
	font-style: normal;
}

a{
	color: #6D2972;
}

ul{
	list-style-type: circle;
}

li{
	margin-bottom: 1%;
}

section{
	max-width: 55%;
	margin: auto;
	background-color: rgba(255, 255, 255, 0.65);
	padding-bottom: 1%;
	padding-left: 2%;
	padding-right: 2%;
	padding-top: 1%;
	margin-bottom: 2%;
	border-radius: 15px;
	line-height: 1.3em;
	overflow: hidden;
}

#profile{
	float: right;
	border-radius: 40px;
	margin-left: 0.5em;*/
}

.screenshot{
	display: block;
	margin: auto;
	margin-bottom: 2%;
	box-shadow: 7px 7px 5px #854889;
	border-radius: 15px;

}

footer{
	text-align: center;
	color: #56125B;
}

nav{
	text-align: center;
}

nav ul{
	list-style-type: none;
	padding: 0;
	margin: 0;
	position: relative;
	left: -50%;
}

nav ul li{
	display: inline;

}

nav ul li a{
	width: 5em;
	padding: 0.3em 0.75em;
	background-color: rgba(255, 255, 255, 0.65);
	text-decoration: none;
	float: left;
	border-right: 1px solid #6D2972;
	
}

nav ul li a:hover, #current:hover{
	background-color: rgba(211, 206, 232,0.65);
}

#current{
	background-color: rgba(239, 221, 230,0.65);
}

.last{
	border-right: none;
	border-top-right-radius: 1em;
	border-bottom-right-radius: 1em;
}

.first{
	border-top-left-radius: 1em;
	border-bottom-left-radius: 1em;
}


#center-wrapper{
	float: left;
	position: relative;
	left: 50%;
}

#wrapper{
	overflow: hidden;
	margin-bottom: 1em;
}

figure{
	margin-left: 0.2em;
}


.project {
	text-align: center;
	position: relative;
	border-radius: 15px;
	width: 256px;
	height: 192px;
	float: left;
	margin: 0.5em 0.5em;

}

#bots{
	background-image: url('../images/bots_thumb.png');
}

#dungeon{
	background-image: url('../images/dungeon_thumb.png');
}

#asteroids{
	background-image: url('../images/asteroids_thumb.png');
}

.project .pic-link{
	position: absolute;
	width: 100%;
	height: 100%;
	left: 0;
}

.project .name{
	display: none;
}

.project:hover .name{
	display: block;
	background-color: rgba(255, 255, 255, 0.75);
	position: absolute;
	width: 100%;
	padding-top: 0.3em;
	padding-bottom: 0.2em;
	left: 0;
	bottom: 0;
	text-decoration: none;
	color: #420246;
}
