@font-face {
    font-family: 'Aquiline';
    src: url('../fonts/AquilineTwo-webfont.eot');
    src: url('../fonts/AquilineTwo-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/AquilineTwo-webfont.woff') format('woff'),
         url('../fonts/AquilineTwo-webfont.ttf') format('truetype'),
         url('../fonts/AquilineTwo-webfont.svg#aquilinetworegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'Uglyqua';
    src: url('../fonts/UglyQua-webfont.eot');
    src: url('../fonts/UglyQua-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/UglyQua-webfont.woff') format('woff'),
         url('../fonts/UglyQua-webfont.ttf') format('truetype'),
         url('../fonts/UglyQua-webfont.svg#uglyquaregular') format('svg');
    font-weight: normal;
    font-style: normal;

}



body{
	background-color: #eee5a1;
	font-family: 'Trebuchet MS', sans-serif;
}


h1{
	text-align: center;
	width: 100%;
	font-family: 'Aquiline', serif;
	letter-spacing: 0.1em;
	font-size: 290%;
	color: #8A5712;
	padding-top: 2%;
	padding-bottom: 2%;
	margin-top: 0;
	background-image: url("../media/banner.png");
	background-size: 100%;
}

h2{
	text-align: center;
	width: 100%;
	font-family: 'Uglyqua', serif;
	font-size: 160%;
	color: #8A5712;
}

h3{
	font-family: 'Uglyqua', serif;
	color: #8A5712;
	font-size: 130%;
}

li a{
	width: 100%;
}


nav{
	position: fixed;
	background-color: #ebce94;
	padding-bottom: 3%;
	border-radius: 15px;
	left: 3%;
	border: 1px solid #8A5712;
	width: 20%;
}
nav p{
	margin-bottom: 1em;
	text-align: center;
	border-top: 1px dashed #8A5712;
	border-bottom: 1px dashed #8A5712;
	margin-bottom: 0;

	margin-top: -1px; /*Trick for collapsing borders*/
	display: block;
}

#current{
	background-color: #FFF295;
}

nav p:hover, #current:hover{
	background-color: #E0D583;
}

nav h3{
	text-align: center;
	width: 100%;
}

nav a{
	text-align: center;
	width: 100%;
	display: block;
	padding-bottom: 5%;
	padding-top: 5%;
}



.column{
	position: relative;
	float: right;
	width: 70%;
	margin-right: 5%;
}

.section{
	background-color: white;
	padding-bottom: 5%;
	padding-left: 2%;
	padding-top: 1%;
	margin-bottom: 2%;
	border-radius: 15px;
	width: 100%;
}

.thumbnail{
	position: relative;
	float: right;
	margin-bottom: 5%;
	margin-right: 2%;
	width: 20%;
	height: 20%;
}

.thumbnail img{
	width: 88%;
	height: 88%;
}

.thumbnail a{
	width: 100%;
}

ol li{
	clear: both;
	width: 100%;
}



.section ul, .section ul li{
	max-width: 100%;
}


.section ul li{
	list-style-type: circle;
	margin-bottom: 2%;
}

.step, .explanation{
	max-width: 70%;
}


.section ol{
	color:  #8A5712;
}

.section ol li{
	margin-bottom: 4%;
}

.explanation{
	color: black;
}

#compass{
	position: absolute;
	left: -20%;
	top: -20%;
}

footer{
	display: none;
}

a{
	text-decoration: none;
	color: #8A5712;
}

@media screen and (max-width: 480px) {
	nav{
		position: static;
		width: 100%;
	}

	.column{
		width: 100%;
		float: left;
		clear: left;
		margin: 0;	

	}
	.section{
		max-width: 100%;
		margin-bottom: 7%;
	}

	.section ol li{
		margin-bottom: 15%;
	}

	footer{
		display: block; 
		position: fixed;
		bottom: 0;
		width: 100%;
		background-color: #ebce94;
		text-align: center;
		border-radius: 10px 10px 0 0;
	}

	.step, .explanation{
		max-width: 100%;
	}

}